asgiref==3.11.1
brotli==1.2.0
cffi==2.0.0
crispy-bootstrap5==2025.6
cssselect2==0.9.0
Django==5.2.11
django-crispy-forms==2.5
django-environ==0.12.0
django-htmx==1.27.0
docxtpl==0.20.2
et_xmlfile==2.0.0
fonttools==4.61.1
gunicorn==25.1.0
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
openpyxl==3.1.5
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-docx==1.2.0
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.0.0
typing_extensions==4.15.0
weasyprint==68.1
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.4.0
